@use './assets/styles/vars';

html {
  background-color: vars.$darkblue;
}

body {
  font-family: 'Raleway', sans-serif;
  color: vars.$darkgray;
}

a:active,
a:link,
a:visited {
  color: vars.$blue;
  font-style: italic;
}

a:hover {
  color: vars.$red;
  text-decoration: underline;
  font-style: normal;
}

li {
  list-style-type: none;
}

.red {
  color: vars.$darkred;
}

.blue {
  color: vars.$blue;
}

.green {
  color: vars.$darkgreen;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.search {
  text-align: center;
  display: flex;
  justify-content: center;
  width: fit-content;
  flex-wrap: wrap;

  button {
    margin-left: 0.5em;
  }
}
.search__random_btn {
  padding: 6px 12px 0;
  margin: 11px 6px 0;
}

.search__art_terms {
  background-color: vars.$darkgray;
  color: vars.$white-full;
  margin: 1vmin 0 20px 38vmin;
  padding: 6px;
  text-align: center;
}

.search-error {
  background: vars.$white-full;
  color: vars.$red;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: vars.$green;
  border-radius: 4px;

  &:disabled {
    background-color: vars.$lightgray;
    color: vars.$gray;
    cursor: not-allowed;
  }
}

button:hover {
  cursor: pointer;
  animation: jelly 0.5s;

  &:disabled {
    animation: none;
    cursor: not-allowed;
  }
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.flx-ctr {
  justify-content: center;
  display: flex;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.wrap {
  flex-wrap: wrap;
}

.ReactTags__tagInput {
  position: relative;
  display: inline-block;
}

input {
  color: vars.$darkgray;
  font-size: inherit;
  font-family: inherit;
  background-color: vars.$white-full;
  padding: 0.3em 0.45em;
  border: 2px solid transparent;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: vars.$gray;
}

span.line {
  position: absolute;
  background-color: vars.$green;
  transition: transform 0.1s ease;
}

span.bottom,
span.top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

span.left,
span.right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

span.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

span.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

span.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

span.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}

.ReactTags__tagInput {
  margin: 18px 5px 0;
}

div.ReactTags__selected span.ReactTags__tag {
  background: vars.$white-full;
  color: vars.$darkgreen;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 8px 6px 0;
  cursor: move;
  border-radius: 4px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: vars.$gray;
  margin-left: 5px;
  cursor: pointer;
}

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: vars.$white-full;
  margin: 0;
  padding: 0;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid vars.$lightgray;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: vars.$red;
  cursor: pointer;
}

.fadein {
  animation: fadein 1s 0.3s forwards 1;
  filter: opacity(0);
}

@keyframes fadein {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.loading {
  width: 275px;
  transform-origin: center;
  animation: rotate 2s linear infinite;

  circle {
    fill: none;
    stroke: vars.$red;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.page {
  text-align: center;
}
