$red: rgb(189, 42, 51);
$darkred: rgb(147, 0, 9);
$green: rgb(147, 163, 28);
$darkgreen: rgb(119, 135, 0);
$semidarkblue: rgb(48, 55, 79);
$blue: rgb(48, 105, 179);
$satblue: rgb(98, 145, 179);

$darkbluea: rgba(24, 27, 39, 0.5);
$darkblue: rgba(24, 27, 39);
$pink: #ffdfff;
$greena: rgba(230, 200, 38, 0.5);
$white-full: rgba(240, 243, 255, 0.9);
$white-half: rgba(240, 243, 255, 0.5);

$darkgray: #1f1f1f;
$darkgraya: #1f1f1fdd;
$lightgray: #cfcfcf;
$gray: #888;
$btm-margin: 0 0 20px;
